<p id="notice"><%= notice %></p>
<h1>Authenticate</h1>
<%= form_tag({controller: "elections", action: "cast_vote"}, method: "post") do %>
  <%= label_tag(:uuid, "Voter UUID") %>
  <input id="uuid" name="uuid" type="text" value="" />
  <input id="encrypted_vote" name="encrypted_vote" type="hidden" value="<%= params[:encrypted_vote] %>" />
  <%= submit_tag( "Login and Cast Vote" ) %>
<% end %>
