<h1>Election Fingerprint: <%= @election_hash %></h1>
<table>
<tr>
   <th>Voter UUID</th>
   <th>Smart Ballot Tracker</th>
</tr>
<% @bulletin_board.each do |couple| %>
  <tr>
    <td><%= couple[:voter_uuid] %></td> 
    <td><%= couple[:vote_hash] %></td> 
  </tr>
<% end %>
</table>
<hr>
<%= link_to 'Home', root_url %>
