<p id="notice"><%= notice %></p>
<h1>New Election</h1>
<%= form_tag({controller: "elections", action: "create"}, method: "post") do %>
  <input id="n_questions" name="n_questions" type="hidden" value="0" />

  <%= label_tag(:name, "Name") %>
  <%= text_field_tag(:name) %>
  
  <%= label_tag(:short_name, "Short name") %>
  <%= text_field_tag(:short_name) %>

  <%= label_tag(:description, "Description") %>
  <%= text_area_tag(:description, "", size: "24x6") %>

  <button id="add_question">Add Question</button>

  <%= submit_tag( "Save" ) %>
<% end %>
