<h1>Demo</h1>

<p>
  Questo prototipo rispetta le specifiche di verifica presenti in questo documento:<br />
  <%= link_to "helios-v3-verification-specs", "http://documentation.heliosvoting.org/verification-specs/helios-v3-verification-specs" %>
</p>

<h3>Crea nuova Elezione</h3>
<%= link_to "Crea nuova Elezione", controller: "elections", action: "new" %>

<h3>Vota in un Elezione</h3>
<ul>
<% @elections.each do |election| %>
  <li><%= link_to "elezione n #{election.id}", booth_vote_path( election_url: "../elections/#{election.id}" ) %></li>
<% end %>
</ul>

<h3>Visualizza Bulletin Board</h3>
<ul>
<% @elections.each do |election| %>
  <li><%= link_to "elezione n #{election.id}", controller: "elections", action: "bulletin_board", id: election.id %> (<%= election.cast_votes.length %> voti)</li>
<% end %>
</ul>

<h3>Computa Risultati</h3>
<ul>
<% @elections.each do |election| %>
  <li><%= link_to "elezione n #{election.id}", controller: "elections", action: "result", id: election.id %> (<%= election.cast_votes.length %> voti)</li>
<% end %>
</ul>

<h3>Verifica Elezione</h3>
<ul>
<% @elections.each do |election| %>
  <li><%= link_to "elezione n #{election.id}", election_verifier_verify_path( election_url: "../elections/#{election.id}" ) %> (<%= election.cast_votes.length %> voti)</li>
<% end %>
</ul>
